@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Films</h1>
  <p class="lead">Welcome to an awesome list of films.</p>
</div>

<div class="row">
  <div class="col-md-4">
    x
  </div>
  <div class="col-md-4">
    x
  </div>
  <div class="col-md-4">
   x
  </div>
</div>